<ion-view title="home">
  <ion-content class="padding">
    <h3>Bienvenue au réseau BTT... </h3>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="John">
      </label>
      <label class="item item-input">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="Suhr">
      </label>
      <label class="item item-input">
        <span class="input-label">Téléphone</span>
        <input type="tel" placeholder="06(5)xxxxxxxx">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" placeholder="john@suhr.com">
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" placeholder="username">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Sexe
        </div>
        <select>
          <option selected> </option>
          <option>Homme</option>
          <option>Femme</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <button class="button button-block button-positive">
     New Account
    </button>
  </ion-content>
</ion-view>
